<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
    <title>ToDo App</title>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/todoController.js"></script>
</head>
<body ng-controller="todoController">
    
    <div>
        <input type="text" ng-model="todoItem.Name"/>
        <button ng-click="addNewItem()">Add New Item</button>
    </div>
    
    <div ng-repeat="item in todoItems">
        <span ng-hide="{{item.IsComplete}}">{{item.Id}}-{{item.Name}} <input type="checkbox" ng-click="UpdateItem(item)" /></span>
    </div>

</body>
</html>
